In [ ]:
import pandas as pd
import numpy as np

In [ ]:
def bootstrap_resample(X, n=20000):
    """ Bootstrap resample an array_like
    Parameters
    ----------
    X : array_like
      data to resample
    n : int, optional
      length of resampled array, equal to len(X) if n==None
    Results
    -------
    returns X_resamples
    """
    if isinstance(X, pd.Series):#Is data in excel table format
        X = X.copy()
        X.index = range(len(X.index))
    if n == None:
        n = len(X)
        
    resample_i = np.floor(np.random.rand(n)*len(X)).astype(int)
    X_resample = np.array(X[resample_i])  # TODO: write a test demonstrating why array() is important
    return X_resample
# test_bsr_on_df()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
# df = pd.read_csv('/content/drive/MyDrive/train.csv', index_col=0, low_memory=False,skiprows=1,header=None)
df = pd.read_csv('/content/drive/MyDrive/score original data with full range2.csv', index_col=0, low_memory=False, dtype=float)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# moderately large file, for a single state/year
df.shape
print(df.columns)
# print(df.columns[1:])
# print(df)
# print(df[col])

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [ ]:
from array import array
print(df.index)
df_resampled = pd.DataFrame( columns=df.columns, dtype=float)
# df_resampled = pd.DataFrame(data=dict,index=df.index, columns=df.columns, dtype=None)

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0,
              22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0,
              33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0,
              44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0,
              55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0,
              66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0,
              77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0,
              88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0,
              99.0],
             dtype='float64')

In [ ]:
for col in df.columns:
    df_resampled[col] = bootstrap_resample(df[col])

In [ ]:
df

          a         b      c       d     e     f
0.0   192.0  120000.0  100.0   41.67  0.00  0.00
1.0    72.0  108000.0    6.0   92.59  0.00  0.00
2.0   180.0   90450.0  100.0  165.84  0.00  0.00
3.0   120.0  640000.0    3.0   51.56  0.16  0.04
4.0   120.0  144000.0    1.0  104.17  0.16  0.12
...     ...       ...    ...     ...   ...   ...
95.0  346.0  355636.0   33.0  145.00  0.45  0.22
96.0  533.0  629439.0   87.0  165.00  0.57  0.75
97.0  326.0  481405.0   97.0  146.00  0.29  0.50
98.0  480.0  573691.0   97.0  132.00  0.69  0.26
99.0  548.0  294996.0   92.0  162.00  0.43  0.86

[100 rows x 6 columns]

In [ ]:
df_resampled

           a         b     c      d     e     f
0      303.0  257331.0  39.0  152.0  0.31  0.64
1      370.0  339240.0  50.0  126.0  0.21  0.42
2      466.0  388934.0  76.0  112.5  0.80  0.17
3      372.0  422064.0  98.0  165.0  0.80  0.74
4      402.0  314627.0  88.0  158.0  0.19  0.58
...      ...       ...   ...    ...   ...   ...
19995  508.0  256845.0  95.0   57.0  0.32  0.26
19996   24.0  638231.0  41.0  143.0  0.50  0.05
19997  120.0  360000.0  78.0   52.0  1.00  0.18
19998   96.0  629439.0  32.0  160.0  0.32  0.16
19999   24.0  414777.0  82.0  132.0  0.96  0.05

[20000 rows x 6 columns]

In [ ]:
# df['Popularityscore'] = df['Popularityscore'].astype(float)
# df.Popularityscore.mean(), df_resampled.Popularityscore.mean()

In [ ]:
# df.Popularityscore.std(), df_resampled.Popularityscore.std()

AttributeError: ignored

In [ ]:
# df.Popularityscore.skew(), df_resampled.Popularityscore.skew()

In [ ]:
# df.Popularityscore.kurtosis(), df_resampled.Popularityscore.kurtosis()

In [ ]:
df_resampled.to_csv('/content/drive/MyDrive/resampleoriginal2.csv')