In [ ]:
import pandas as pd
import numpy as np
from sklearn import metrics 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
# df = pd.read_csv('/content/drive/MyDrive/train.csv', index_col=0, low_memory=False,skiprows=1,header=None)
df = pd.read_csv('/content/drive/MyDrive/Round 3 Unbiased Scores.csv', index_col=0, low_memory=False, dtype=float)


# data = pd.read_csv("data.csv")
# data.head()

# df = pd.read_csv('Student-Pass-Fail-Data.csv')
df.head()

Mounted at /content/drive

     Popularity score  Cubic Mvmt score  Variation score  PLC score  Label
0.0            0.2275          0.030162           0.1700   0.000743    0.0
1.0            0.0100          0.001828           0.0050   0.024096    0.0
2.0            0.2400          0.047551           0.2400   0.000125    1.0
3.0            0.0200          0.003913           0.0100   0.018037    0.0
4.0            0.2575          0.164219           0.2475   0.007570    1.0

In [ ]:
x = df.drop('Label',axis = 1)
y = df.Label
print(x)

        Popularity score  Cubic Mvmt score  Variation score  PLC score
0.0               0.2275          0.030162           0.1700   0.000743
1.0               0.0100          0.001828           0.0050   0.024096
2.0               0.2400          0.047551           0.2400   0.000125
3.0               0.0200          0.003913           0.0100   0.018037
4.0               0.2575          0.164219           0.2475   0.007570
...                  ...               ...              ...        ...
3864.0            0.0000          0.000014           0.0000   0.077572
3865.0            0.0800          0.020163           0.1250   0.002902
3866.0            0.2575          0.162146           0.2475   0.007337
3867.0            0.2400          0.045845           0.2400   0.000090
3868.0            0.2375          0.041070           0.2375   0.000143

[3869 rows x 4 columns]

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=4)

In [ ]:
logistic_regression = LogisticRegression()

In [ ]:
logistic_regression.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
y_pred = logistic_regression.predict(x_test)

In [ ]:
accuracy = metrics.accuracy_score(y_test, y_pred)
accuracy_percentage = 100 * accuracy
accuracy_percentage

97.10743801652893

In [ ]:
print(logistic_regression.coef_)

[[ 9.9950987  10.93561048 15.66794999  0.15752054]]